<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - UzRoboUP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="UzRoboUP"></div>
        <div class="nav">
            <ul class="navbar">
                <li class="links"><a href="#">Bosh sahifa</a></li>
                <li class="links"><a href="#">Chat</a></li>
                <li class="links"><a href="#" class="link login"><i class="fa fa-sign-in"></i> Kirish</a></li>
                <li class="links"><a href="#" class="link">Ro'yxatdan o'tish</a></li>
                <li class="links"><a href="#" class="link"><i class="fa fa-user"></i> Profil</a></li>
            </ul>
        </div>
    </header>
</body>
</html>